ul {
  list-style-type: none;
}

li{
  display: inline-block;
  font-size: 20px;
  padding: 0px 15px 0px 15px;
}

.active{
  border-bottom: 2px solid ;
  border-bottom-color: black ;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}


/* The "hide" class is added to the filtered elements */
.hide {
  display: none;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  -ms-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}


