.home {
    background-color:#F3D250;
}

.about{
    background-color:#90CCF4;
}

.experience{
    background-color:#F78888;
}

.contact{
    background-color:#5DA2D5;
}

.about-card{
    background-color:#0bceaf;
    
}

.about-card-body{
    letter-spacing: 1px;
    font-weight: 500;
}

.btn-yellow{
  color:black;
  font-weight:500;
  border-color: black
}

.btn-yellow:hover{
  border:none;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.span-hello
{
    background-color: #0bceaf;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.title{
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.role{
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
}

.list-group-item{
    background: none !important;
    border: none !important;
    font-size: 18px;
    margin-left: -15px;
    line-height: 10px;
}

.social ul{
    margin-left: -50px;
    padding: 15px;
}

.social{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 2rem;
    padding: 3px;
}

.social-item{
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0px 1.5rem;
    transition: all 0.2s ease-out 0s;
    border: 1px solid #90CCF4;
    color: black;
}

.social-item:hover{
    color: whitesmoke;
    border-color: black;
    background: black;
}

.profile-image{
    border: 20px solid;
    border-color:  #F3D250;
    margin: 0 auto;
    border-radius: 50%;
}

.about-me{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    font-weight: 400;
}


.my-skill ul {
    list-style-type: none;
    display: inline-block;

    margin-top: 20px;
}

.my-skill ul>li{
    line-height: 30px;
}

.my-skill ul>li>span{
    font-weight: 500;
}

.contact input{
  background: none;
  border:1px solid black;
}

.contact textarea{
  background: none;
  border:1px solid black;
}

.section-separator{
  padding: 100px 0;
}

.p-left-2{
  padding-left: 50px;
}

.experience-card {
    background-color:#ffccd4;
}


