.home {
    background-color:#F3D250;
}

.about{
    background-color:#90CCF4;
}

.experience{
    background-color:#F78888;
}

.contact{
    background-color:#5DA2D5;
}

.about-card{
    background-color:#0bceaf;
    
}

.about-card-body{
    letter-spacing: 1px;
    font-weight: 500;
}

.btn-yellow{
  color:black;
  font-weight:500;
  border-color: black
}

.btn-yellow:hover{
  border:none;
}


.span-hello
{
    background-color: #0bceaf;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.title{
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.role{
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
}

.list-group-item{
    background: none !important;
    border: none !important;
    font-size: 18px;
    margin-left: -15px;
    line-height: 10px;
}

.social ul{
    margin-left: -50px;
}

.social ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    font-size: 25px;
}

.social li:hover{
    background-color: #90CCF4;
    border-radius: 3px;
}

.profile-image{
    border: 20px solid;
    border-color:  #F3D250;
    margin: 0 auto;
    border-radius: 50%;
}

.about-me{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    font-weight: 400;
}


.my-skill ul {
    list-style-type: none;
    display: inline-block;

    margin-top: 20px;
}

.my-skill ul>li{
    line-height: 30px;
}

.my-skill ul>li>span{
    font-weight: 500;
}

.contact input{
  background: none;
  border:1px solid black;
}

.contact textarea{
  background: none;
  border:1px solid black;
}

.section-separator{
  padding: 100px 0;
}

.p-left-2{
  padding-left: 50px;
}


