<div class="row home section-separator">
  <div class="container ">
    <div class="row p-5">
        <div class="col-md-6">
            <div class="row">
              <span class="span-hello">Hello I'm</span>
            </div>
            <div class="row">
              <h2 class="title"> {{name}}</h2>
            </div>
            <div class="row">
              <h4 class="role">I am a <span class="bold italic span-role"></span>, Web Developer</h4>
            </div>
        </div>
    </div>

    <div class="row p-5 row-about">
      <div class="col-md-6">
        <img src="../../assets/ab-img.png" class="img-fluid" style="margin-top: 100px;">
      </div>
      <div class="col-md-6 section-separator" id="about">
        <span class="span-hello">About Me</span>
        <p class="about-me">{{aboutMe}}</p>
        <a href="#download" class="download-btn btn-white">Download CV</a>
      </div>
    </div>

    <div class="row p-5">
      <div class="col-md-12 text-center">
          <h2>My Skills</h2>
          <div class="my-skill">
            <ul *ngFor='let skill of skills'>
              <li><span class="btn btn-outline-primary">{{skill}}</span></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="row portfolio section-separator" id="portfolio">
  <div class="container">
    <div class="row p-3">
      <div class="col-md-12 text-center" style="margin-bottom: 30px;">
          <h1>Portfolio</h1>
          <h5>This is what I've been doing</h5>
      </div>
      <div class="row p-5">
        <div class="col-md-12 p-3"> <h5 class="h-center"> <span class="span-hello">Portfolio</span> </h5></div>
        <div class="col-md-6">
          <img src="../../assets/Portfolio-App.jpg" class="img-fluid" sizes="(max-width: 800px) 100vw, 800px">
        </div>
        <div class="col-md-6 p-3">
          <p>This is the website which you are viewing. Previously I have built a similar profolio for mysef using ASP.NET and Bootstrap. 
            But after learning Angular, I decided to redesign my old website and make a SPA. 
            In this application I've used github api to get my github reposetories and showing here.
            Here I used Bootstrap to make the website responsive and added few CSS animation styles, 
            which are inspired from Fidalgo a Frontend Developer. 
          </p>
          <p><strong>Angular - Bootstrap - CSS Animations</strong></p>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-md-12 p-3"> <h5 class="h-center"> <span class="span-hello">Weather App</span> </h5></div>
        <div class="col-md-6 p-3">
          <p class="">This is a simple weather app. 
            It will show weather based on current location and user can add other locations also. 
            In this application I have used <a href="https://openweathermap.org/" target="_blank">Open Weather api</a> , 
            to get the weather data. 
            <a href="https://daneden.github.io/animate.css/" target="_blank">Animate CSS </a>is used for simple animation and 
            <a href="https://fontawesome.com/" target="_blank">Font Awesome</a> is used for weathe widget. 
            But we can do lot more with this app. You can check my github repository readme.md,
            where I have added future scope of the application.
            Please feel free to add any usefull funcationalities into this project.
          </p>
          <p><strong>Angular - Bootstrap</strong></p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/Weather-App.jpg" class="img-fluid" sizes="(max-width: 800px) 100vw, 800px">
        </div>
      </div>
      <div class="row p-5">
        <div class="col-md-12 p-3"> <h5 class="h-center"> <span class="span-hello">To Do</span> </h5></div>
        <div class="col-md-6">
          <img src="../../assets/redux-todo.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 p-3">
          <p class="">This is a basic todo app. In this app I used redux for state management. 
            I have coverd only basic functionalities. But we can do lot more with this app. 
            I have mentioned few points in my github repository. 
            Please feel free to add any usefull funcationalities into this project
          </p>
          <p><strong>Angular - Redux - Bootstrap</strong></p>
        </div>
      </div>
      <div class="row p-5">
          <div class="col-md-12 p-3"> <h5 class="h-center"> <span class="span-hello">Country Details</span> </h5></div>
          <div class="col-md-6 p-3">
              <p class="">This application is used to give details of country. In the home page it is showing all the countries with there flag.
                On Click it is showing some detail information about that country eg. Details, Geography, Currency.
                This application internally calling an <a href="https://restcountries.eu/rest/v2/alpha/">API</a> api to get the details of the countries.
              </p>
              <p><strong>Angular - Bootstrap</strong></p>
          </div>
          <div class="col-md-6">
            <img src="../../assets/Country-Details.jpg" class="img-fluid">
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row contact section-separator" id="contact">
  <div class="container">
    <div class="text-center p-5">
        <h2>Contact Me</h2>
        <br/>
        <label>If you want to <span class="bold italic">talk</span>, you can <span class="bold italic">find me</span> at:</label>
        <br/>
        <br/>
        <br/>
        <h5>hi@pavelray.com</h5>
        <br/>
        <br/>
        <div class="row social">
                <a href="https://github.com/pavelray" target="_blank" class="social-item"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/pavelray/" target="_blank" class="social-item"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/user/pavelray/" target="_blank" class="social-item"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/i.am.pavel/" target="_blank" class="social-item"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/pavel.ray" target="_blank" class="social-item"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
    </div>
  </div>

