<div class="row home section-separator" id="home">
  <div class="container ">
    <div class="row p-5">
        <div class="col-md-6">
            <div class="row">
              <span class="span-hello">Hello I'm</span>
            </div>
            <div class="row">
              <h2 class="title"> {{name}}</h2>
            </div>
            <div class="row">
              <h4 class="role">I am a <span class="bold italic">{{ role}}</span> Web Developer</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-image">
               <img src="../../assets/profile_img.jpg" class=" profile-image img-fluid">
            </div>
        </div>
    </div>
  </div>

</div>

<div class="row about section-separator" id="about">
  <div class="container">
    <div class="row p-5">
        <div class="col-md-6">
          <img src="../../assets/ab-img.png" class="img-fluid">
        </div>
        <div class="col-md-6 p-3">
          <span class="span-hello">About Me</span>
          <p class="about-me">{{aboutMe}}</p>
          <button class="btn btn-outline-warning btn-yellow">Download CV</button>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-12 text-center">
            <h2>What I do</h2>
        </div>
        <div class="col-md-4 p-3">
            <div class="card about-card" style="width: 18rem; height: 15rem;">
                <div class="card-body ">
                  <h5 class="card-title"><i class="fas fa-paint-brush"></i> UI Design</h5>
                  <p class="card-text about-card-body">{{uiDesign}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="card about-card" style="width: 18rem; height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-code"></i> Web Development</h5>
                  <p class="card-text about-card-body">{{webDevelopment}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="card about-card" style="width: 18rem; height: 15rem;">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-mobile-alt"></i> App Development</h5>
                  <p class="card-text about-card-body">{{appDevelopment}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-12 text-center">
            <h2>My Skills</h2>
            <div class="my-skill">
              <ul *ngFor='let skill of skills'>
                <li><span class="btn btn-outline-primary">{{skill}}</span></li>
              </ul>
            </div>
        </div>
    </div>

  </div>
</div>

<div class="row experience section-separator" id="experience">
  <div class="container">
    <div class="row p-5">
      <div class="col-md-6" >
        <h2><i class="fas fa-university"></i> Education</h2>
        <div class="row p-3">
          <div class="card experience-card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Master Of Computer Application (MCA)</h5>
              <p class="card-text">Javapur University, West Bengal, India</p>
              <p class="card-text">2010-2013</p>
            </div>
          </div>
        </div>
        <div class="row p-3 ">
          <div class="card experience-card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Bachelor Of Computer Application (BCA)</h5>
              <p class="card-text">West Bengal University of Technology, West Bengal, India</p>
              <p class="card-text">2007-2010</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <h2><i class="fas fa-briefcase"></i> Work Experience</h2>
        <div class="row p-3">
          <div class="card experience-card " style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Lowe's Services India Pvt. Ltd.</h5>
              <p class="card-text">Software Engineer</p>
              <p class="card-text">Bangalore, India</p>
              <p class="card-text">2017-Present</p>
            </div>
          </div>
        </div>
        <div class="row p-3">
          <div class="card experience-card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Mcube Investment Technology Pvt. Ltd.</h5>
              <p class="card-text">Software Engineer</p>
              <p class="card-text">Bangalore, India</p>
              <p class="card-text">2014-2017</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-md-12 text-center" style="margin-bottom: 30px;">
          <h1>Recent Portfolio</h1>
      </div>

      <app-git-hub-repo></app-git-hub-repo>
    </div>
  </div>
</div>

<div class="row contact section-separator" id="contact">
  <div class="container">
    <div class="text-center">
        <h2>Contact Me</h2>
        <br/>
        <label>If you want to <span class="bold italic">talk</span>, you can <span class="bold italic">find me</span> at:</label>
        <br/>
        <br/>
        <br/>
        <h5>hi@pavelray.com</h5>
        <br/>
        <br/>
        <div class="row social">
                <a href="https://github.com/pavelray" target="_blank" class="social-item"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/pavelray/" target="_blank" class="social-item"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.linkedin.com/in/pavelray/" target="_blank" class="social-item"><i class="fab fa-youtube"></i></a>
                <a href="https://www.linkedin.com/in/pavelray/" target="_blank" class="social-item"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/pavel.ray" target="_blank" class="social-item"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
    </div>
  </div>

