<div class="row home p-5" id="#home">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
              <span class="span-hello">Hello I'm</span>
            </div>
            <div class="row">
              <h2 class="title"> Pavel Ray </h2>
            </div>
            <div class="row">
              <h4 class="role">Software Engineer</h4>
            </div>
            <div class="row">
                <ul class="list-group">
                  <li class="list-group-item"> <i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:">pavelray@gmail.com</a></li>
                  <li class="list-group-item"> <i class="fas fa-phone-square"></i>&nbsp;&nbsp;<a href="callto:">8660677881</a></li>
                  <li class="list-group-item"> <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; <span>Bangalore, India</span></li>
                </ul>
            </div>
            <div class="row social">
              <ul>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-github"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-image">
               <img src="../../assets/profile_img.jpg" class="img-fluid">
            </div>
        </div>
    </div>
  </div>

</div>

<div class="row about p-5" id="#about">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Hello</h1>
            </div>
            <div class="col-md-6">
                <h1>Hello</h1>
            </div>
    </div>
  </div>
</div>

<div class="row skill p-5" id="#skill">
Skill
</div>

<div class="row experience p-5" id="#experience">
Experience
</div>