
.nav-color {
  background-color: #ECECEC;
}

.nav-color a{
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.brand-logo{
  height: 40px;
}

.brand-logo-large{
  height: 80px;
}

.active {
  border-bottom: 2px solid;
  border-bottom-color: black;
}


.powered-by{

  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
}

.powered-by span{
  font-size: 35px !important;
}


.text-muted{
  color: darkred !important;
  font-weight: 400 !important;
}

.navbar-nav li{
    animation-name: slide-down;
    animation-duration: 1s;
}

@keyframes slide-down{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  80%{

    transform: translateY(2px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);

  }
}
