<nav class="navbar sticky-top navbar-expand-lg nav-color">
  <a class="navbar-brand" href="#"><span><i class="fa fa-bullseye" aria-hidden="true"></i></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-center">
      <li class="nav-item active">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skill">Skill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">Experience</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid" style="height:5000px">
  <app-portfolio></app-portfolio>
</div>

