/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

html {
    scroll-behavior : smooth;
  }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  position: relative;
  font-family: 'Karla', sans-serif;
}

